@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

body{
    background-color: #f1f2f3;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto , 0;
}

main{
    padding: 10px;
    background-color:  #17171C;
    border-radius: 15px;
}

.calculator{
    /* background-color: #edb4b4; */
    margin: 0;
    /* padding: 20px; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    width: 65px;
    border-radius: 22px;
    font-size: 30px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #2e2f38;
    margin: 8px;
}


button:hover{
    background-color: #383940;
}
button:active{
    background-color: #e5e5e751;
}

input{
    height: 75px;
    width: 290px;
    margin: 7px , 0;
    margin-top: 15px;
    font-size: 40px;
    text-align: end;
    /* font-weight: bolder; */
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    
}

input::placeholder{
    text-align: start;
    font-size: 40px;
    padding: 10px;
    color: #fff;
}

.blue{
    background-color: #4b5efc;
}
.blue:hover{
    background-color: #6272fc;
}
.blue:active{
    color: #17171C;
}
.gray{
    background-color: #4e505f;
}
.gray:hover{
    background-color: #81828c;
}
.gray{
    background-color: #4e505f;
}

#C:active{
    color: red;
    background-color: rgba(255, 122, 122, 0.534) !important;
}

.col{
    margin: 15px 0px;
    display: grid;
    grid-template-areas: "c del per div"
                          "sev eig nine mul"
                          "four five six subt"
                          "one two three pluses"
                          "dott zeroo zero0 equal";

    /* gap: 10px; */

   
}

#C{
    grid-area: c;
}

#del{
    grid-area: del;
}

#per{
    grid-area: per;
}


#div{
    grid-area: div;
}

#sev{
    grid-area: sev;
}

#eig{
    grid-area: eig;
}

#nine{
    grid-area: nine;
}

#mul{
    grid-area: mul;
}

#four{
    grid-area: four;
}

#five{
    grid-area: five;
}

#six{
    grid-area: six;
}

#sub{
    grid-area: subt;
}

#one{
    grid-area: one;
}

#two{
    grid-area: two;
}

#three{
    grid-area: three;
}

#plus{
    grid-area: pluses;
}

#dot{
    grid-area: dott;
}
#zero{
    grid-area: zeroo;
}
#zero0{
    grid-area: zero0;
}
#equal{
    grid-area: equal;
}



@media screen and (max-width: 425px){
    main{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .calculator{
        border-radius: 0px;
    }

    input{
        height: 150px;
        width: 100%;
        font-size: 60px;
        background-color: rgba(255, 255, 255, 0.211);
        background-color: transparent;
        margin-bottom: 20px;
    }

    input::placeholder{
        font-size: 50px;
    }

    button{
        height: 2.4em;
        width: 2.4em;
    font-size: 30px;}
}

@media screen and (max-width: 350px){
    button{
        height: 2em;
        width: 2em;
        font-size: 30px}
}
